.item__accordion {
  display: flex; 
  flex-direction: column; 
  width: 250px;
  align-items: flex-start;
  margin: 0px 0px 0px 42px;
  background: #D6E7D2;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 0px;
  
  padding: 0px 40px 0px 40px;
  overflow: hidden;
  transition-property: height;
  transition: 1.5s;

}

.item__line {
  background-color: #AEA1A1;
  border: 0.5px solid #AEA1A1;
  width: 164px;
  margin: 6px 0px 6px 0px;
}

.item__descroption {
  font-family: Inter-Regular;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  margin: 0;
  color: #717171;
  padding-bottom: 6px;
}

.item__price-per-hour {
  font-family: Inter-Bold;
  color: #000000;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin: 0px;
}

.price-in-dolar {
  color: #E06733;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.item__order {
  height: 25px;
  width: 86px;
  background: #FFFFFF;
  border-radius: 10px;
  border: 0px solid;
  font-family: 'Inter-Bold';
  color: #717171;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-top: 6px;
}

.item__order:hover {
  background: #E06733;
  color: #FFFFFF;
  cursor: pointer;
}

.prise-item__accordion {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #D6E7D2;
  
}

.prise-item__accordion>.item__button-circle {
  rotate: 180deg;
}

.prise-item__accordion>.item__button-circle>circle {
  fill: #AEA1A1;
}

.prise-item__accordion>.item__button-circle>path {
  stroke: #FFFFFF;
}

.order__btn {
  text-decoration: none;
  color: #717171;
}

.item__order:hover>.order__btn {
  color: #FFFFFF;
}