@media (max-width: 768px) {
  body {
    max-width: 768px;
    min-width: 320px;
  }

  .container__header,
  .main__container,
  .container__footer {
    max-width: 768px;
  }

  .container__header {
    height: 117px;
  }

  .navbar {
    display: flex;
    max-width: 768px;
    width: 100%;
    justify-content: space-around;
  }

  .navbar__logo {
    margin-left: 0;
    margin-bottom: 15px;
    margin-right: 40px;
    width: 77px;
  }

  .navbar__li {
    width: 452px;
  }

  .navbar__list {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    margin-bottom: 28px;
    padding: 0;
  }

  .navbar__link {
    padding: 0px;
    white-space: nowrap;
  }

  /* ---------------------------------------- */
  .container__welcome {
    display: flex;
    margin: 0 0px;
    max-width: 768px;
    width: 100%;
    height: 420px;
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  .welcome__leafs {
    background: url(../assets/img/leafs_768.png);
    width: 280px;
    height: 254.15px;
    margin: 31px 59px 0px 0px;
  }

  .welcome__section {
    flex-direction: column;
    align-items: flex-start;
    width: 346px;
    height: 310px;
    margin: 40px 0px 0 44px;
  }

  .welcome__plants {
    font-size: 35px;
    margin: 0 auto;
    max-width: 341px;
  }

  .welcome__description {
    line-height: 25px;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 31px;
    max-width: 341px;
    margin-left: 11px;
  }

  .welcome__learn-more {
    margin-top: 35px;
    margin-left: 6px;
  }

  /* ---------------------------------------- */
  .container__about {
    height: 783px;
  }

  .about__section {
    display: flex;
    max-height: 783px;
    height: 783px;
    justify-content: center;
    max-width: 768px;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
  }

  .about__us-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 668px;
    max-height: 350px;
    width: 100%;
    margin-left: 0px;
    height: 100%;
  }

  .us-section__experienced {
    font-size: 35px;
    line-height: 46px;
    width: 423px;
    margin-top: -23px;
    margin-left: 0px;
    text-align: center;
  }

  .us-section__description {
    margin-top: 21px;
  }

  .about__houseplant1 {
    background: url(../assets/img/houseplant1_768.png);
    width: 250px;
    height: 258px;
    margin-right: 0px;
    margin-bottom: 33px;
    margin-top: 17px;
  }

  /* ---------------------------------------- */
  .container__service {
    height: 1780px;
    max-width: 768px;
    width: 100%;
  }

  .service__services-content {
    align-items: flex-start;
    width: 559px;
    height: 184px;
    margin-top: 29px;
    margin-left: 50px;
    flex-direction: column;
  }

  .services__our-projects {
    font-size: 35px;
    line-height: 45.61px;
  }

  .services__btns {
    margin-top: 14px;
  }

  .service__services-items {
    margin-top: 71px;
    margin-left: 50px;
    margin-right: 0px;
    flex-direction: row;
    width: 668px;
    height: 1426px;
  }

  .services-item {
    width: 281px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services-item__first {
    background: url(../assets/img/services_item/first1_768.png);
    width: 280px;
    height: 350px;
  }

  .first__title {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .first__description {
    margin-left: 0px;
    margin-top: 10px;
    width: 201px;
    text-align: center;
  }

  .row-two,
  .row-three {
    margin-top: -17px;
  }

  .title__planting {
    margin-left: -2px;
  }

  /* ---------------------------------------- */
  .container__prices {
    height: 585px;
    max-width: 768px;
    width: 100%;
  }

  .prices__wrapper {
    margin-left: 50px;
  }

  .wrapper__prices-description {
    margin-top: 40px;
  }

  .prices__heading {
    font-size: 35px;
    line-height: 42.36px;
    margin-top: 0px;
    margin-left: 14px;
  }

  .prices__items {
    margin-top: 27px;
  }

  .prices__description-call-us {
    margin-right: 1px;
    display: flex;
    justify-content: center;
    margin-top: 81px;
    margin-right: 49px;
  }

  .call-us__text {
    width: 296px;
    font-size: 25px;
    line-height: 35px;
    margin-top: -29px;
  }

  .call-us__btn {
    margin-right: 0px;
  }

  /* ---------------------------------------- */
  .container__contacts {
    height: 739px;
    max-width: 768px;
    width: 100%;
    flex-direction: column;
  }

  .contacts__title {
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contacts__btn {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 98px;
  }

  .contacts__btn-dropdown__wrapper{
    margin-right: 0px;
  }

  .contacts__wooman1 {
    background: url(../assets/img/contact_us/contact_woman_1_768.png);
    width: 200px;
    height: 248.49px;
    margin-left: 20px;
    margin-top: -90px;
    order: 3;
  }

  /* ---------------------------------------- */
  .container__footer {
    height: 181px;
    flex-direction: column;
    margin: 0 auto;
    max-width: 768px;
  }

  .footer__data {
    padding: 0px 0;
    margin: 19px 10px 0 0;
  }

  .data__items,
  .data__rss {
    margin-right: 0px;
    padding: 0 10px;
  }

  .items__link {
    padding-left: 2px;
  }

  .data__rss {
    margin-left: -5px;
    margin-top: -22px;
  }

  .data__social-list {
    margin-right: 0px;
    margin-bottom: 25px;
    margin-top: 0px;
  }
}